/* HEADER */
.header {
  background: #141A51;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 100px;
  gap: 80px;
  color: #fff;
}
.number, .email, .search { font-weight: 300; font-size: 16px; }
.search { margin-left: auto; }


/* LIST */
.nav-bar {
  width: 100%;
  height: 100px;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0px;

}

.nav-logo {
  height: 60px;
  margin-left: 100px;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0s;
  display: flex;
  gap: 50px;
  position: absolute;
  right: 100px;
}

.nav li {
  color: #141A51;
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.nav li:hover {
  color: #3498db;
}




