/* MAIN PHOTO */
.presentation {
  position: relative;
  margin: 15px 0;
  background: url('../img/bg.jpg') no-repeat;
  width: 100%;
  height: 525px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;

}

.about-box {
  position: absolute;           /* поверх фото */
  left: 100px;
  margin-top: 250px;
  background: rgba(20, 26, 81, 0.95);  /* тёмно-синий полупрозрачный */
  padding: 40px 40px;
  color: white;
  max-width: 600px;
  max-height: 500px;
  font-family: "Montserrat", sans-serif;
}

.about-box h2 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-box p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-box button {
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
  color: #141A51;
  border: none;
  padding: 16px 40px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
}

.about-box button:hover {
  background: #868ED8;
}
