@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
  margin: 0;
  padding: 0;

}

body {
  background: #fff;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;

}

.wrapper {
  width: 1256;
  margin: 0 0;
  

}

/* HEADER */
.header {
  background: #141A51;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 100px;
  gap: 80px;
  color: #fff;
}
.number, .email, .search { font-weight: 300; font-size: 16px; }
.search { margin-left: auto; }


/* Причины поступить */
.reasons__header {
  display: flex;
  padding-left: 150px;
  max-width: 1256px;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 40px;
}

.reasons h1 {
  font-size: 36px;
  color: #141A51;
  font-weight: 600;
  margin: 0;
}

.reasons p {
  font-size: 16px;
  color: #7E7E7E;
  font-weight: 400;
  margin: 0;
  max-width: 800px;
  text-align: left;
  padding-top: 20;
}